* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.contenedor-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

.caja {
  width: 700px;
  height: 450px;
  position: relative;
  display: flex;
  background: #1a1a1a;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.formulario {
  width: 50%;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: all 0.5s ease;
  background-color: transparent;

}

.formulario h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.formulario p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #bbb;
}

.formulario input {
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  color: white;
  font-size: 14px;
}

.formulario button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #79b4f8;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.formulario p label {
  color: #79b4f8;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: underline;
}

/* Posiciones por defecto */
.formulario-registro {
  left: 75%;
  transform: translateX(75%);
  opacity: 1;
  z-index: 2;
}

.formulario-login {
  left: 0;
  transform: translateX(0%);
  opacity: 1;
  z-index: 1;
}

/* Panel decorativo (solo para decoración, no tapa formularios) */
.panel {
  position: absolute;
  width: 50%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 20px 0 0 20px;
  transition: all 0.5s ease;
}

/* Al marcar el switch: CAMBIA FORMULARIOS */
#switch:checked ~ .caja .formulario-registro {
  transform: translateX(-50%);
  opacity: 1;
  z-index: 2;
}

#switch:checked ~ .caja .formulario-login {
  transform: translateX(50%);
  opacity: 0;
  z-index: 1;
}

#switch:checked ~ .caja .panel {
  left: 50%;
  border-radius: 0 20px 20px 0;
}
