/* From Uiverse.io by Yaya12085 */
.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  padding: 41px 0px;
  margin: 15px 9px;
  text-align: center;
  padding: 30px 15px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(33, 150, 243, 0.4),
    0 4px 6px -4px rgba(33, 150, 243, 0.4);
  border-radius: 10px;
  background-color: #6b6ecc;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
}
.tarjeta:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.contenedor_tarjetas {
  display: flex;
  gap: 9px;
  flex-wrap: nowrap;
  overflow-x: hidden; /* <--- Para evitar el scroll manual */
  scroll-behavior: smooth;
  max-width: 950px; /* 3 tarjetas de 260px + 2 gaps de 38px = 854px aprox */
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.contenido_tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 90%;
  word-wrap: break-word;
}
.contenido_tarjeta .precio {
  color: white;
  font-weight: 800;
  font-size: 43px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.contenido_tarjeta .descripcion {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}

.contenido_tarjeta .titulo {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  font-size: 21px;
  letter-spacing: 0px;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-top: 15px;
  border: none;
  outline: none;
  text-decoration: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 79%;
  text-shadow: 0px 4px 18px #2c3442;
  transition: all 0.3s ease;
}
.button:hover{
  transform: scale(1.05);
}
.contenedor_tarjetas {
  display: flex;
  gap: 38px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.descripcion1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  width: calc(64vw - 268px);
  margin-left: 268px;

  color: white;
  font-size: 2.1rem;
  font-weight: 500;
  text-align: center;
  margin-left: 20px
}
